body {
  font-size: 16px;
  font-weight: 300;
  -webkit-tap-highlight-color: rgba(0,0,0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}

.btn {
  border-radius: 0;
  font-family: inherit;
  font-weight: inherit;
  border: none;
}

.btn-primary {
  background: #1ccaff;
  border: none;
}

.btn-danger {
  background: #ff312d;
  border: none;
}

.form-control {
  -webkit-appearance: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
}

.form-control:focus,
.form-control:active {
  outline: none;
  box-shadow: none;
}

#story-form .form-group {
  margin-bottom: 0;
  padding: 7px 0;
}

#submit {
  width: 100%;
}

.wysihtml5-wrapper {
  height: 150px;
  overflow: auto;
}

.wysihtml5-wrapper .btn {
  font-size: 1.1em;
}

.well {
  box-shadow: none;
  border-radius: 0;
  border: none;
  background: #e1e1e1;
}

#wysihtml5-toolbar {
  padding: 10px;
  margin-bottom: 0;
}